<div class="container">
    <div class="row">
        {{#each albums}}
    {{!-- NO SPACE before the ">" --}}
            {{> albumCard this albumstracks='tracks'}}
        {{/each}}
    </div>
</div>