<form class="flex" action="/artist-search" method="GET" enctype="application/x-www-form-urlencoded">
    <input type="text" name="artist" placeholder="Enter the Artist" value="">
    <button type="submit">Search for an Artist</button>
</form>