<div id="index-background">
    <div id="form-container">
        <form id="index-form" action="/artist-search" method="GET" enctype="application/x-www-form-urlencoded">
            <input type="text" name="artist" placeholder="Enter the Artist" value="">
            <button class="spt-btn" type="submit">Search for an Artist</button>
        </form>
    </div>
</div>
