<header id="tracks-header">
    <h2 class="header-elem">Title</h2>
    <h2 class="header-elem">Listen</h2>
</header>

<ul id="tracks-list">
    {{#each tracks }}
        {{> tracksLi this}}
    {{/each}}
</ul>
